.paragraph_main {
  text-align: center;
  color: yellow;
}

.textsubtitle {
  text-align: center;
  color: whitesmoke;
  font: bold 70px;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.445);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.fund_main {
  background-image: url(./public/Assets/images/mainImage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 50px;
}

.form-box {
  position: relative;
  width: 449px;
  height: 331px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 414px) {
  h3 {
    font-size: 20px !important;
  }
  .form-box {
    position: relative;
    width: 339px;
    height: 281px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fund_main {
    min-height: 415px;
  }
}
